<style>


  body {
    background-image: url('/img/banner/banner-bg.jpg');
  }
</style>
<section style="margin-top: 6rem;" class="section-margin ">
  <div class="container mt-4">
    <div class="row mt-5">
      <a href="/admin/add-coupon" class="btn btn-success mr-auto mt-5"
        style="background-color: #FFAD01;color:aliceblue;">Add Coupon</a>
    </div>
    <div class="mt-5">
      <table class="table mt-1" id="myTable">
        <thead>
          <tr>
            <th scope="col">Coupon Code </th>
            <th scope="col">Created On</th>
            <th scope="col">Valid Up To</th>
            <th scope="col">Min Amound</th>
             <th scope="col">Discount</th>
             <th scope="col">Options</th>
          </tr>
        </thead>
    <tbody>
  {{#each coupons}}
  <tr>
    <td>{{this.couponcode}}</td>
    <td>{{this.createdAt}}</td>
    <td>{{this.expiryDate}}</td>
    <td>{{this.purchaseamound}}</td>
    <td>{{this.discount}}%</td>
    
    <td>
      {{!-- <a href="/admin/edit-product/{{this._id}}" class="btn " style="background-color: #FFAD01;color:aliceblue;">Edit</a> --}}
<a href="#" class="btn btn-danger remove-coupon" data-coupon-id="{{this._id}}">Remove</a>

     
    </td>
  </tr>
  {{/each}}
</tbody>

      </table>
    </div>
  </div>
</section>
<script src="/javascripts/coupon-manage.js"></script>