<style>


  body {
    background-image: url('/img/banner/banner-bg.jpg');
  }
</style>
<section style="margin-top: 6rem;" class="section-margin ">
  <div class="container mt-4">
    <div class="row mt-5">
      <a href="/admin/add-coupon" class="btn btn-success mr-auto mt-5"
        style="background-color: #FFAD01;color:aliceblue;">Add Coupon</a>
    </div>
    <div class="mt-5">
      <table class="table mt-1" id="myTable">
        <thead>
          <tr>
            <th scope="col">Coupon Code </th>
            <th scope="col">Created On</th>
            <th scope="col">Valid Up To</th>
            <th scope="col">Min Amound</th>
             <th scope="col">Discount</th>
             <th scope="col">Options</th>
          </tr>
        </thead>
    <tbody>
  {{#each coupons}}
  <tr>
    <td>{{this.couponcode}}</td>
    <td>{{this.createdAt}}</td>
    <td>{{this.expiryDate}}</td>
    <td>{{this.purchaseamound}}</td>
    <td>{{this.discount}}%</td>
    
    <td>
      {{!-- <a href="/admin/edit-product/{{this._id}}" class="btn " style="background-color: #FFAD01;color:aliceblue;">Edit</a> --}}
<a href="#" class="btn btn-danger remove-coupon" data-coupon-id="{{this._id}}">Remove</a>

     
    </td>
  </tr>
  {{/each}}
</tbody>

      </table>
    </div>
  </div>
</section>
<script>
$(document).ready(function () {
  // Handle click event on delete button
  $('.remove-coupon').on('click', function (event) {
    event.preventDefault();
    var couponId = $(this).data('coupon-id');
    var confirmation = confirm('Are you sure you want to delete this coupon?');

    if (confirmation) {
      // Perform AJAX request to remove the coupon
      $.ajax({
        url: '/admin/remove-coupon?id=' + couponId,
        method: 'GET',
        success: function (response) {
          // If the coupon is successfully removed, reload the page or perform any other desired action
          window.location.reload();
        },
        error: function (error) {
          console.log('Error removing coupon: ' + error);
        }
      });
    }
  });
});


</script>