<style>
  .edititem {
    margin-top: 22vh;
  }

  body {
    background-image: url('/img/banner/banner-bg.jpg');
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .image-preview-container {
    display: flex;
    flex-wrap: wrap;
  }

  .image-preview {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    margin-top: 20px;
  }
</style>

<h1 style="color:#fe7200;" class="text-center edititem ml-auto">Edit product</h1>
<div class="row container">
  <form action="/admin/edit-product/{{product._id}}" method="post" class="col-md-6 ml-5 mt-2" enctype="multipart/form-data" onsubmit="return validateForm()">
    <div class="form-group">
      <label style="color:#fe7200;" for="product-name">Product Name</label>
      <input type="text" class="form-control" id="product-name" name="productName" value="{{product.productName}}" maxlength="25" required>
      <div id="product-name-error" class="error-message"></div>
    </div>
    <div class="form-group">
      <label style="color:#fe7200;" for="product-description">Product Description</label>
      <input type="text" class="form-control" id="product-description" name="productDescription" value="{{product.productDescription}}" required>
      <div id="product-description-error" class="error-message"></div>
    </div>
    <div class="form-group">
      <label style="color:#fe7200;" for="product-price">Product Price</label>
      <input type="number" class="form-control" id="product-price" name="productPrice" value="{{product.productPrice}}" min="0" required>
      <div id="product-price-error" class="error-message"></div>
    </div>
    <div class="form-group">
      <label style="color:#fe7200;" for="product-quantity">Product Quantity</label>
      <input type="number" class="form-control" id="product-quantity" name="productQuantity" value="{{product.productQuantity}}" placeholder="Enter product Quantity" min="0" required>
      <div id="product-quantity-error" class="error-message"></div>
    </div>
    <div class="form-group">
      <label style="color:#fe7200;" for="product-category">Category</label>
     <select class="form-control" id="product-category" name="productCategory" required>
  <option value="{{categoryName}}" selected>{{categoryName}}</option>
  {{#each categories}}
    <option value="{{this.categoryName}}">{{this.categoryName}}</option>
  {{/each}}
</select>

      <div id="product-category-error" class="error-message"></div>
    </div>
    <div class="form-group">
      <label style="color:#fe7200;" for="product-image">Product Image</label>
      <div class="image-preview-container">
        {{#each product.images}}
        <img class="mb-1 image-preview" src="/product-images/{{this}}" alt="" id="product-image">
        {{/each}}
      </div>
      <input type="file" class="form-control-file" id="product-image" name="productImage" onchange="viewImage(event)" multiple>
      <div id="product-image-error" class="error-message"></div>
    </div>
    <button style="width:17vh;background-color:#fe7200;color:aliceblue" type="submit" class="btn mb-2">Update</button>
  </form>
</div>

<script src="/javascripts/edit-product.js"></script>
