
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order List</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Banner Area -->
<section>
  <div class="container">
    <form action="/admin-order-manage" method="post" id="statusForm">
      <select class="select" name="status" id="statusSelect">
        <option value="" disabled selected>Select Status</option>
        {{#if (eq orderStatus "returnrequest")}}
          <option value="returned">Approve</option>
          <option value="approved">Cancel</option>
        {{else if (eq orderStatus "cancelrequest")}}
          <option value="cancelled">Approve</option>
          <option value="approved">Cancel</option>
        {{else}}
          <option value="approved">Approved</option>
          <option value="cancelled">Cancelled</option>
          <option value="shipped">Shipped</option>
          <option value="delivered">Delivered</option>
          <option value="returned">Returned</option>
        {{/if}}
      </select>
      <input type="hidden" name="orderId" value="{{this.orderId}}">
      <button style="height: 42px; background-color:#fe7200;color:aliceblue;" class="btn" type="submit">Update Status</button>
    </form>
  </div>
</section>




   <section>
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"> <h5>Image</h5></th>
              <th scope="col"> <h5>Description</h5></th>
              <th scope="col"> <h5>Price</h5></th>
              <th scope="col"> <h5>Address</h5></th>
              {{#if order.reason}}
              <th scope="col"> <h5>Reason</h5></th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each productDetails}}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img style="width:14vh;height:10vh" src="/product-images/{{this.product.images.[0]}}" alt="">
                    </div>
                    <div class="media-body">
                      <p>{{this.product.productName}}</p>
                    </div>
                  </div>
                </td>
                <td>{{this.product.productDescription}}</td>
                <td>
                  <h5>₹{{this.product.productPrice}}/-</h5>
                </td>
                <td>
                  {{this.address.address1}}
                  <br>
                  city:{{this.address.city}}
                  <br>
                  pin:{{this.address.pincode}}
                  <br>
                  phone:{{this.address.phone1}}
                </td>
                {{#if ../order.reason}}
                  <td>{{../order.reason}}</td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
    <script src="/javascripts/ordered-products.js"></script>