
<style>
    .pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
   <script>
$(document).ready(function() {
  $('.mytable').DataTable({
    "order": [[0, "desc"]], // Sort the first column (index 0) in descending order
    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "pageLength": 5 // Set the initial page length to 5
  });
});
</script>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order List</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        <div class="row mt-5">
        <form id="filterForm" class="form-inline" method="GET" action="/admin/order-list">
            <div class="form-group mr-2">
                <select name="status" class="form-control" onchange="submitFilterForm()">
                    <option value="">Select Order Status</option>
                    <option value="approved">Approved</option>
                    <option value="shipped">Shipped</option>
                    <option value="pending">Pending</option>
                    <option value="cancelrequest">Cancel Requested</option>
                    <option value="returnrequest">Return Requested</option>
                    <option value="delivered">Delivered</option>
                </select>
            </div>
            <div class="form-group mr-2">
                <select name="paymentMethod" class="form-control" onchange="submitFilterForm()">
                    <option value="">Select Payment Method</option>
                    <option value="COD">COD</option>
                    <option value="ONLINE">ONLINE</option>
                    <option value="WALLET">WALLET</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-danger form-group mr-2">Apply Filters</button>
            
        </form>
    </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table mytable" id="myTable ">
                        <thead>
                            <tr>
                                <th scope="col"> <h5  style="color:#fe7200">Date</h5></th>
                                <th scope="col"> <h5  style="color:#fe7200">user</h5></th>
                                <th scope="col"> <h5  style="color:#fe7200">Total Price</h5></th>
                                <th scope="col"> <h5  style="color:#fe7200">Method </h5></th>
                                <th scope="col"><h5  style="color:#fe7200">Status</h5></th>
                                <th scope="col"><h5  style="color:#fe7200">Order Status</h5></th>
                                <th scope="col"> <h5  style="color:#fe7200">Manage order</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each orders}}
                            <tr>
                                <td>{{this.date}}</td>
                                <td>{{userName}}</td>
                                <td>
                                    <h5>₹{{this.totalAmound}}/-</h5>
                                </td>
                                <td>
                                    <h5>{{this.paymentMethod}}</h5>
                                </td>
                                <td>
                                    <h5>{{status}}</h5>
                                </td>
                                 <td>
                                    <h5>{{this.OrderStatus}}</h5>
                                 </td>
                                 <td>
                            <form method="POST" action="/admin/ordered-product-details">
                                <button name="orderId" value="{{this._id}}" type="submit" class="btn  animate__animated animate__fadeInLeft"  style="background-color:#fe7200 ;color:white">View Products</button>
                            </form>
                             </td>
                                
              
                            </tr>
                           {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->






