
<style>
    .pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order List</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col"> <h5  style="color:#fe7200">Date</h5></th>
                                <th scope="col"> <h5  style="color:#fe7200">user</h5></th>
                                <th scope="col"> <h5  style="color:#fe7200">Total Price</h5></th>
                                <th scope="col"> <h5  style="color:#fe7200">Method </h5></th>
                                <th scope="col"><h5  style="color:#fe7200">Status</h5></th>
                               
                                <th scope="col"> <h5  style="color:#fe7200">Manage order</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each returnRequests}}
                            <tr>
                                <td>{{this.date}}</td>
                                <td>{{userName}}</td>
                                <td>
                                    <h5>₹{{this.totalAmound}}/-</h5>
                                </td>
                                <td>
                                    <h5>{{this.paymentMethod}}</h5>
                                </td>
                                <td>
                                    <h5>{{status}}</h5>
                                </td>
                                 
                                 <td>
                            <form method="POST" action="/admin/ordered-product-details">
                                <button name="orderId" value="{{this._id}}" type="submit" class="btn  animate__animated animate__fadeInLeft"  style="background-color:#fe7200 ;color:white">View Products</button>
                            </form>
                             </td>
                                <td>
              
                            </tr>
                           {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <div class="pagination-container">
  <ul class="pagination">
    {{#if hasPrevPage}}
    <li class="page-item">
      <a class="page-link" href="?page={{prevPage}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{/if}}
    
    {{#each pages}}
    <li class="page-item{{#if active}} active{{/if}}">
      <a class="page-link" href="?page={{this}}">{{this}}</a>
    </li>
    {{/each}}
    
    {{#if hasNextPage}}
    <li class="page-item">
      <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{/if}}
  </ul>
  </div>
</div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->


   



