<style>
  .navuser {
    margin-top: 6rem;
  }

  body {
    background-image: url('/img/banner/banner-bg.jpg');
  }
</style>
<section style="margin-top: 9rem;">
  <div class="container">
    <div class="row navuser">
      {{!-- <a style="background-color: #f2ae0f;color:white" href="/admin/search-user" class="btn  ml-1">Search user</a> --}}
      <a href="/admin/blocked-users" class="btn btn-danger ml-1">Blocked Users</a>
    </div>
    <div class="table-responsive mt-5">
      <table id="myTable" class="table mt-5 userTable mt-3">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>User id</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phonenumber}}</td>
            <td>{{this._id}}</td>
            <td>
              <a href="/admin/block-user?id={{this._id}}" class="btn btn-danger block-user"
               data-name="{{this.name}}" >Block</a>
            </td>
  
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $('.userTable').DataTable();
  });
  $(document).ready(function() {
  $('.block-user').on('click', function(event) {
    event.preventDefault();
    var userId = $(this).attr('href');
    var userName = $(this).data('name');

    Swal.fire({
      title: 'Are you sure?',
      text: 'Are you sure you want to block ' + userName + '?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, block',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        // Redirect to the unblock URL
        window.location.href = userId;
      }
    });
  });
});

</script>