



<form  class="container" id="searchForm" action="/search-products" method="GET">
  <input style="width: 50vh;border-color:#fe7200;border-radius:1vh" type="text" placeholder="Search products or category" name="search">
  <input style="border-color:#fe7200;border-radius:1vh;color:aliceblue;background-color:#fe7200" type="submit" value="Search">
</form>

	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
							<p class="small">Slide here...</p>
						</div>
					</div>
				</div>
		<section  class="container mt-3 mb-4">
    <form id="filterForm" class="form-inline" method="GET" action="/search">
        <div class="form-group mr-2">
            <label for="categorySelect">Category:</label>
            <select name="category" class="form-control" id="categorySelect" onchange="submitFilterForm()">
                <option value="">All Categories</option>
                <!-- Add options for all categories dynamically -->
                {{#each categories}}
                <option value="{{this._id}}">{{this.categoryName}}</option>
                {{/each}}
            </select>
        </div>
        <!-- Add more filter options if needed -->
        <!-- For example, price range, brand, etc. -->

        <div class="form-group mr-2">
            <label for="sortBySelect">Sort By:</label>
            <select name="sortBy" class="form-control" id="sortBySelect" onchange="submitFilterForm()">
                <option value="productName">Name</option>
                <option value="productPrice">Price</option>
                <!-- Add more sort options if needed -->
            </select>
        </div>

        <div class="form-group mr-2">
            <label for="sortOrderSelect">Sort Order:</label>
            <select name="sortOrder" class="form-control" id="sortOrderSelect" onchange="submitFilterForm()">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>

        <button type="submit" class="btn btn-danger form-group mr-2">Apply Filters</button>
    </form>
</section>

				<div class="row ">	
					<!-- single product -->
					{{#each products}}
					<div class="col-lg-3 col-md-6">
						
						<div class="single-product">
							
							<div class="image-container">
                     <img class="img-fluid" src="/product-images/{{images.[0]}}" alt="Card image Cap">
					
                             </div>
							<div class="product-details">
								<h6>{{this.productName}}</h6>
								<div style="color:black">
                                    {{this.productDescription}}
                                </div>
								<div class="price">
									<h6 style="color: brown;">₹{{this.productPrice}}/-</h6>
								</div>
								
								<div class="price">
									{{#if this.productOffer}}
									<h6 style="color: red;">{{this.productOffer}}% offer</h6>
									{{else}}
									<h6 style="color: red;">Buy now</h6>
									{{/if}}
								</div>
								
								<div class="prd-bottom">

									<a href="#" class="social-info" onclick="addToCart('{{this._id}}'); return false;">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                    </a>

									<a href="#" class="social-info" onclick="addToWishlist('{{this._id}}'); return false;">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a href="/single-product/{{this._id}}" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text"> View more</p>
									</a>
									
									
								</div>
							</div>
						</div>
				
					</div>
					{{/each}}
				</div>
			</div>
			
					

<div class="container text-center pagination-container">
  {{#if totalPages}}
    <ul class="pagination">
      {{#if (gt currentPage 1)}}
        <li ><a href="/?page={{subtract currentPage 1}}">Previous</a></li>
      {{/if}}
	  {{#min}}
      {{#numeric (range 1 (add (min totalPages (add currentPage 5)) 1)) as |page|}}
        <li{{#if (eq page currentPage)}} class="active"{{/if}}>
          <a href="/?page={{page}}">Page {{page}}</a>
        </li>
      {{/numeric}}
	  {{/min}}

      {{#if (lt currentPage totalPages)}}
        <li style="margin-left: 2vh;width:5vh"><a href="/?page={{add currentPage 1}}">Next</a></li>
      {{/if}}
    </ul>
  {{/if}}
</div>

		</div>

		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
							<p class="small">Slide here...</p>
						</div>
					</div>
				</div>
						<section  class="container mt-3 mb-4">
    <form id="filterForm" class="form-inline" method="GET" action="/search">
        <div class="form-group mr-2">
            <label for="categorySelect">Category:</label>
            <select name="category" class="form-control" id="categorySelect" onchange="submitFilterForm()">
                <option value="">All Categories</option>
                <!-- Add options for all categories dynamically -->
                {{#each categories}}
                <option value="{{this._id}}">{{this.categoryName}}</option>
                {{/each}}
            </select>
        </div>
        <!-- Add more filter options if needed -->
        <!-- For example, price range, brand, etc. -->

        <div class="form-group mr-2">
            <label for="sortBySelect">Sort By:</label>
            <select name="sortBy" class="form-control" id="sortBySelect" onchange="submitFilterForm()">
                <option value="productName">Name</option>
                <option value="productPrice">Price</option>
                <!-- Add more sort options if needed -->
            </select>
        </div>

        <div class="form-group mr-2">
            <label for="sortOrderSelect">Sort Order:</label>
            <select name="sortOrder" class="form-control" id="sortOrderSelect" onchange="submitFilterForm()">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>

        <button type="submit" class="btn btn-danger form-group mr-2">Apply Filters</button>
    </form>
</section>
				
				<div class="row ">	
					<!-- single product -->
					{{#each products}}
					<div class="col-lg-3 col-md-6">
						
						<div class="single-product">
							
							<div class="image-container">
                     <img class="img-fluid" src="/product-images/{{images.[0]}}" alt="Card image Cap">
                             </div>
							<div class="product-details">
								<h6>{{this.productName}}</h6>
								<div style="color:black">
                                    {{this.productDescription}}
                                </div>
								<div class="price">
									<h6 style="color: brown;">₹{{this.productPrice}}/-</h6>
									
								</div>
								<div class="price">
									{{#if this.productOffer}}
									<h6 style="color: red;">{{this.productOffer}}% offer</h6>
									{{else}}
									<h6 style="color: red;">Buy now</h6>
									{{/if}}
								</div>
								<div class="prd-bottom">

									<a href="#" class="social-info" onclick="addToCart('{{this._id}}'); return false;">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                    </a>

									<a href="#" class="social-info" onclick="addToWishlist('{{this._id}}'); return false;">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a href="/single-product/{{this._id}}" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text"> View more</p>
									</a>
									
									
								</div>
							</div>
						</div>
				
					</div>
					{{/each}}
				</div>
			</div>
			<div class="container text-center pagination-container">
  {{#if totalPages}}
    <ul class="pagination">
      {{#if (gt currentPage 1)}}
        <li ><a href="/?page={{subtract currentPage 1}}">Previous</a></li>
      {{/if}}
	  {{#min}}
      {{#numeric (range 1 (add (min totalPages (add currentPage 5)) 1)) as |page|}}
        <li{{#if (eq page currentPage)}} class="active"{{/if}}>
          <a href="/?page={{page}}">Page {{page}}</a>
        </li>
      {{/numeric}}
	  {{/min}}

      {{#if (lt currentPage totalPages)}}
        <li style="margin-left: 2vh;width:5vh"><a href="/?page={{add currentPage 1}}">Next</a></li>
      {{/if}}
    </ul>
  {{/if}}
</div>
			<div>

	
         </div>
		</div>	
	</section>

