
<section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
             <div class="cupon_area">
  <div class="check_title">
    <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
  </div>
 <form action="/apply-coupon" method="post" id="coupon-form">
    <input type="text" name="couponCode" id="couponCode" placeholder="Enter coupon code">
    <div id="couponMessage"></div>
    <button class="btn" type="submit" id="applyCouponButton">Apply Coupon</button>
</form>
<hr>
{{!-- <h4 class="text-success" data-toggle="modal" data-target="#addressModal">Click to change address</h4> --}}
<h6 class="text-success"  data-toggle="modal" data-target="#addressModal">Have another address? Click to change address</h6>

</div>

            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                           <h3>Billing Details</h3>
                    {{#if address}}
                    {{#each address}}
                    {{#if this.primary}}
                    <form class="row contact_form" action="" method="post" id="checkout-form">
                       

                   
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="fullname" value="{{this.name}}" readonly>

                        </div>
                     

                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                value="{{this.phoneNumber}}" readonly>
                                

                            
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="phoneNumber2" name="phoneNumber2" value="{{this.phoneNumber}}" readonly>

                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="email" value="{{this.email}}" readonly>

                        </div>
                        

                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="address" name="address" value="{{this.address1}}" readonly>

                        </div>


                        
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="city" name="city" value="{{this.city}}" readonly>

                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="country" name="country" value="{{this.country}}" readonly>

                        </div>
                      <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="state" name="state" value="{{this.state}}" readonly>

                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="zip" name="pincode" value="{{this.pin}}" readonly>
                        </div>
                    {{/if}}

                    {{/each}}
                   {{else}}
                    <button class="btn" style="color:white; background-color:#fe7200; border-color:#fe7200" onclick="redirectToAddAddress()">Add Address</button>
                    {{/if}}
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                  {{#each products}}
                                <li><a href="#">{{this.product.productName}}<span class="middle">x {{this.quantity}} </span> <span class="last">₹{{this.total}}/-</span></a></li>
                                   {{/each}}
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>₹{{this.carttotal}}/-</span></a></li>
                             
                                <li><a href="#">Total <span>₹{{this.total}}/-</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="payment-method" value="COD" required>
                                    <label for="f-option5">COD</label>
                                    <div class="check"></div>
                                </div>
                            
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="payment-method" value="ONLINE" required>
                                    <label for="f-option6">Razorpay</label>
                                    
                                    <div class="check"></div>
                                </div>
                               
                            </div>
                               <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option7" name="payment-method" value="WALLET" required>
                                    <label for="f-option7">WALLET </label>
                                    
                                    <div class="check"></div>
                                </div>
                               
                            </div>
                            
                             <button style="border-color: #fe7200;" type="submit" class="primary-btn mx-auto" id="checkoutButton">Proceed to
                            Checkout</button>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
          </form>  
    </section>
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Select Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    {{#if address}}
                        <div class="card-body">
                            <div class="row">
                                {{#each address}}
                                <div class="col-md-6">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h6 class="card-subtitle mb-2 text-muted">Address</h6>
                                            <p class="card-text">Name: {{this.name}}</p>
                                            <p class="card-text">Email: {{this.email}}</p>
                                            <p class="card-text">Phone: {{this.phoneNumber}}</p>
                                            <p class="card-text">Address: {{this.address1}}</p>
                                            <p class="card-text">City: {{this.city}}</p>
                                            <p class="card-text">Pin: {{this.pin}}</p>    
                                        </div>
                                        <button class="quantity-btn btn-success make-primary-btn" data-address-id="{{this._id}}">Choose Address</button>

                                    </div>
                                    
                                </div>
                                {{/each}}
                            </div>
                            
                        </div>
                    {{else}}
                    <h1>Add your address here..</h1>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>



    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore dolore
                            magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">

                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="form-inline">

                                <div class="d-flex flex-row">

                                    <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter Email '" required="" type="email">


                                    <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></button>
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                            type="text">
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Instragram Feed</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src="img/i1.jpg" alt=""></li>
                            <li><img src="img/i2.jpg" alt=""></li>
                            <li><img src="img/i3.jpg" alt=""></li>
                            <li><img src="img/i4.jpg" alt=""></li>
                            <li><img src="img/i5.jpg" alt=""></li>
                            <li><img src="img/i6.jpg" alt=""></li>
                            <li><img src="img/i7.jpg" alt=""></li>
                            <li><img src="img/i8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
            </div>
        </div>
    </footer>
    <script src="/javascripts/placeorder.js"></script>