<style>
    .butt {


        width: 30vh;
        height: 5vh;
        margin-top: 10vh;
        margin-left: 5vh;

    }
    .addressoption{
        width: 100%;
    }
</style>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
       
   <div class="cupon_area">
  <div class="check_title">
    <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
  </div>
 <form action="/apply-coupon" method="post" id="coupon-form">
    <input type="text" name="couponCode" id="couponCode" placeholder="Enter coupon code">
    <div id="couponMessage"></div>
    <button class="btn" type="submit" id="applyCouponButton">Apply Coupon</button>
</form>

</div>

      
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="" method="post" id="checkout-form">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="firstname"
                                placeholder="First name">

                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="last" name="lastname" placeholder="Last name">

                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="phonenumber"
                                placeholder="Phone number">

                            <input type="text" class="form-control" id="number" name="userId" value="{{user._id}}"
                                hidden>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email Address">

                        </div>

 <div class="col-md-12 form-group p_star ">
    <select class="form-control addressoption" id="address" name="address">
        <option value="" disabled selected >Choose your address</option>
        {{#if user}}
        <option value="{{user.add1}}">{{user.add1}}</option>
        <option value="{{user.add2}}">{{user.add2}}</option>
        {{/if}}
        <!-- Add more address options here -->
    </select>
</div>



                        
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="city" name="city" placeholder="Town/City">

                        </div>
                        <div class="col-md-12 form-group p_star">

                            <select class="country_select">
                                <option value="1">kottayam</option>
                                <option value="2">kollam</option>
                                <option value="4">kasargod</option>
                                <option value="1">vayanad</option>
                                <option value="2">idukkki</option>
                                <option value="4">eranakulam</option>
                                <option value="1">kozhikkod</option>
                                <option value="2">thiruvanandhapuram</option>
                                <option value="4">pathanamthitta</option>
                                <option value="1">malappuram</option>
                                <option value="2">kannur</option>
                                <option value="4">Alappuzha</option>
                                <option value="1">Thrissur</option>
                                <option value="2">palakkad</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="zip" name="pincode" placeholder="Postcode/ZIP">
                        </div>
                        
                        <div class="payment_item  ">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="payment-method" value="COD">
                                <label for="f-option5">Cash on delivary</label>
                                <div class="check"></div>
                            </div>

                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="payment-method" value="ONLINE">
                                <label for="f-option6">Razorpay</label>

                                <div class="check"></div>
                            </div>

                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option7" name="payment-method" value="WALLET">
                                <label for="f-option7">Wallet Amound</label>

                                <div class="check"></div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-success butt" id="checkoutButton">Proceed to
                            Checkout</button>

                    </form>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="order_box">
                        <h2>Your Order</h2>

                        <ul class="list">
                            <li><a href="#">Product <span>Total</span></a></li>
                            {{#each products}}
                            <li><a href="#">{{this.product.productName}}<span class="middle">x{{this.quantity}}</span>
                                    <span class="last">₹{{this.total}}/-</span></a></li>
                            {{/each}}
                        </ul>

                        <ul class="list list_2">
                            <li><a href="#">total price <span>₹{{this.carttotal}}/-</span></a></li>
                          
                            <li><a href="#">Shipping <span>Free</span></a></li>

                            <li><a href="#"> sub Total <span>₹{{this.total}}/-</span></a></li>
                        </ul>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                    required="" type="email">


                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"
                                        aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                </div>

                                <!-- <div class="col-lg-4 col-md-4">
													<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
												</div>  -->
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="img/i1.jpg" alt=""></li>
                        <li><img src="img/i2.jpg" alt=""></li>
                        <li><img src="img/i3.jpg" alt=""></li>
                        <li><img src="img/i4.jpg" alt=""></li>
                        <li><img src="img/i5.jpg" alt=""></li>
                        <li><img src="img/i6.jpg" alt=""></li>
                        <li><img src="img/i7.jpg" alt=""></li>
                        <li><img src="img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<script>

$("#coupon-form").submit((e) => {
  e.preventDefault();
  const couponCode = $("#couponCode").val();

  $.ajax({
    url: '/apply-coupon',
    method: 'post',
    data: { couponCode },
    success: (response) => {
      if (response.couponExist) {
        // Display coupon applied message
        Swal.fire({
          icon: 'success',
          title: 'Coupon Applied',
          text: 'Coupon applied successfully!',
        }).then(() => {
          // Refresh the page after the alert is closed
          location.reload();
        });
      } else {
        // Display invalid coupon message
        let errorMessage = 'Invalid coupon!';

        if (response.expired) {
          errorMessage = 'Coupon expired!';
        } else if (response.alreadyUsed) {
          errorMessage = 'Coupon already used!';
        } else if (response.notApplicable) {
          errorMessage = 'Coupon is not applicable for this amount!';
        }

        Swal.fire({
          icon: 'error',
          title: 'Coupon Error',
          text: errorMessage,
        });
      }
    }
  });
});




 $("#checkout-form").submit((e) => {
  e.preventDefault();
  $.ajax({
    url: '/place-order',
    method: 'post',
    data: $('#checkout-form').serialize(),
    success: (response) => {
        
      if (response.codStatus) {
        location.href = '/order-success'; // Redirect to order success page for COD payment
      } else if (response.walletStatus) {
        location.href = '/order-success'; // Redirect to order success page for Wallet payment
      }else if (response.walletStatus===false) {
        alert("not enough wallet money")
        location.href = '/order-list'; // Redirect to order success page for Wallet payment
      } else {
        razorpayPayment(response); // Proceed with Razorpay payment
      }
    }
  });
});

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_4VSqO0TCBFvtCE", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "ShoppyBee",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

                verifypayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
         rzp1.open();
    }
    function verifypayment(payment,order){
       $.ajax({
        url:'/verify-payment',
        data:{
            payment,
            order
        },
        method:'post',
        success:(response)=>{
            if(response.status){
                location.href = '/order-success'
            }else{
                alert("payment failed")
            }
        }
       })
    }
</script>